body{

    margin: 0%;
	padding: 0%;
	color:cornsilk;
	font-family: Arial, Helvetica, sans-serif;
	background-color:darkslategray;
	}
span{
    color:red;
}
.wrapper{
    position: absolute;
	top: 45%;
	left: 50%;
	transform:translate(-50%, -50%);
	padding: 15px;
	background-color: black;
	border-radius: 5px;
	box-shadow:rgb(38, 57, 77) 0px 20px 30px -10px; 
}
input{
   outline: none;
   border: none;
   padding: 5px;

}
button{
   color:white;
   padding: 10px;
   border: 2px solid white;
   background: black;
   display: block;
   margin-top: 10%;
   cursor: pointer;

}